body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #cc6699;
	padding: 20px 0;
	position: inherit;
}
.nav-left {
	text-align: left;
	margin-left: 25px;
	margin-top: 20px;
}

.nav-left img {
	
	width: 40%;
	height: 60px;
	text-align: left;

}

.nav-left p {
	display: inline-block;
	font-size: 21px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	margin-left: 25px;
	margin-bottom: 0;
	position: absolute;

}

.nav-right {

	display: inline-block;
	position: right;
	margin-left: 7px;
	height: 50px;
	width: 50px;


}

.nav-right ul li {
	list-style-type: none;
}

.nav-right li {
	display: inline;
	padding: 27px;
	font-size: 20px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.nav-right a {
	text-decoration: none;
	color: white;

}

.nav-left, .nav-right {
	display: inline-block;
	width: 45%
}

/*search bar*/
input {
  padding: 10px;
  box-shadow: 8px 8px 0 lightgrey;
  border: none;
  width: 155px;
  height: 35px;
  font-size: 15px;
  border: grey;
  margin-right: 105px;
  margin-top: 10px;
}
i {
  position: relative;
  left: 165px;
  top: 2px;
}
::placeholder {
  text-transform: uppercase;
  text-align: left;

}

/*Search Bar Ends*/
/*Body Starts*/
body {
	background-color: #fff;
}
.search {
	text-align: right;
}
.left, .right {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	text-align: left;
}

.left {
	margin-left: 140px;
	margin-top: 35px;
}

.right {
	margin-top: 35px;
	margin-bottom: 90px;
	font-family: 'Poiret One', cursive;
	color:  #bfff80;
	font-size: 17px;

}

.right span {
	color: #cc6699;
}


/*Buttons*/

button {
	background-color: #cc6699; 
	color: white;
	border: none;
	font-family: 'Quicksand', sans-serif;
	padding: 20px 25px;
	font-size: 15px;
	margin-left: 10px;
	margin-bottom: 10px;

}

#buttons {
	text-align: right;
	margin-right: 360px;
	margin-bottom: 75px;
	display: inline;

}

/*footer starts*/

.footer {
	background-color: #bfff80;
	text-align: center;
	height: 135px;
}

#socialIcons {
	margin: 15px 0 50px 0;
	text-align: center;
	margin-right: 295px;
	padding-top: 20px;
}

#socialIcons a {
	color: #FFFFFF;
}

#socialIcons .fa-twitter {
	background-color: #5DAED5;
	border-radius: 50%;
	padding: 5px;
}

#socialIcons .fa-facebook {
	background-color: #4470CF;
	border-radius: 50%;
	padding: 5px 8px;
}

#socialIcons .fa-instagram {
	background-color: #996600;
	border-radius: 50%;
	padding: 5px 8px;
}



@media (max-width: 909px) {
	div.right: {
		font-size: 10px;
	}

}


@media (max-width: 635px) {

	.left, .right  {
		display: block;
		width: 100%;

	}
	div.right {
		font-size: 12px;
		display: block;
		text-align: center;
	}

	div.left {
		margin-left: 230px;
	}

	div.left img {
		width: 27%;
		height: 95px;
		display: inline;
		text-align: center;
	}

	.search input {
		text-align: center;
		margin-right: 200px;
	}
}

@media (max-width: 400px) {

	div.left {
		margin-left: 150px;
	}

	.search input {
		margin-right: 100px;
	}
}


