body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #cc6699;
	padding: 20px 0;
	position: inherit;
}

ul li {
	padding: 10px;
}

ul li a {
	font-family: 'Poiret One', cursive;
	font-size: 30px;

}

a.navbar-brand {
	font-family: 'Poiret One', cursive;
	font-size: 30px;
}
/*search bar*/
input {
  padding: 10px;
  box-shadow: 8px 8px 0 lightgrey;
  border: none;
  width: 155px;
  height: 35px;
  font-size: 15px;
  border: grey;
  margin-right: 105px;
  margin-top: 10px;
}
i {
  position: relative;
  left: 150px;
  top: 2px;
}
::placeholder {
  text-transform: uppercase;
  text-align: left;

}

/*Search Bar Ends*/
/*Body Starts*/
body {
	background-color: #fff;
}
.search {
	text-align: right;
}
.left, .right {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	text-align: left;
}

.left {
	margin-left: 140px;
	margin-top: 35px;
}

.right {
	margin-top: 35px;
	margin-bottom: 90px;
	font-family: 'Poiret One', cursive;
	color:  #bfff80;
	font-size: 17px;

}

.right span {
	color: #cc6699;
}


/*Buttons*/

button {
	background-color: #cc6699; 
	color: black;
	border: none;
	font-family: 'Poiret One', cursive;
	padding: 20px 25px;
	font-size: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 50px;


}

#buttons {
	text-align: right;
	margin-right: 360px;
	margin-bottom: 75px;
	display: inline;

}

/*footer starts*/

.footer {
	background-color: #bfff80;
	text-align: center;
	height: 155px;
}

#socialIcons {
	margin: 15px 0 50px 0;
	text-align: center;
	margin-right: 295px;
	padding-top: 20px;

}

#socialIcons a {
	color: #FFFFFF;
	padding-left: 20px;
}

#socialIcons .fa-twitter {
	background-color: #5DAED5;
	border-radius: 50%;
	padding: 5px;
}

#socialIcons .fa-facebook {
	background-color: #4470CF;
	border-radius: 50%;
	padding: 5px 8px;
}

#socialIcons .fa-instagram {
	background-color: #996600;
	border-radius: 50%;
	padding: 5px 8px;
}



@media (max-width: 900px) {

	div.right {
		margin-top: 70px;
	}
	div.right h1 {
		font-size: 35px;
	}

	button {
		padding: 10px;
	}

	div.left img {
		width: 70%;
		margin-top: 70px;
	}
}

@media (max-width: 759px) {

	div.right h1 {
		font-size: 28px;
	}

	button {
		padding: 6px;
	}

	div.search input {
		margin-right: 15px;
	}

}

@media (max-width: 725px){

	div.right {
		margin-top: 60px;
		margin-left: 225px;
	}
	div.right h1 {
		font-size: 32px;
		text-align: center;
	}

	button {
		padding: 8px;
		margin: 0 auto;
		margin-top: 40px;
	}

	div.left img {
		width: 70%;
		margin-top: 50px;
		margin-left: 140px;
	}

	#socialIcons a {
		margin-right: 70px;
		padding: 0;
	}

}

@media (max-width: 689px) {

	button {
		padding: 5px;
		
	}
	div.right h1 {
		font-size: 30px;
		text-align: center;
	}

	div.left img {
		width: 65%;
		margin-top: 50px;
		margin-left: 140px;
	}

}


@media (max-width: 400px) {

	div.right {
		margin-top: 50px;
		margin-left: 125px;
	}
	div.right h1 {
		font-size: 27px;
		text-align: center;
	}

	button {
		padding: 4px;
		margin: 0 auto;
		margin-top: 20px;
		width: 100%;
	
	}

	#buttons button {
		font-size: 12px;
	}

	div.left img {
		width: 70%;
		margin-top: 50px;
		margin-left: 25px;
	}

	#socialIcons a {
		position: initial;
		margin: 0 auto;
		
	}
}
